:root {
  --primary-color: #ffa600df;
  --heading-font-family:'Playfair Display', serif;
  --default-font-family: 'Poppins', sans-serif;
  --secondary-color: #80808027;
}

body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family); 
  font-weight: bold;
}

h1 {
  font-size: 96px;
  
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

 p {
   font-family: var(--default-font-family);
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
 }

 a {
   color: gray;
   transition: all 150ms ease-in-out;
 }

 a:hover {
   color: var(--primary-color);
 }

 i {
   color: var(--primary-color);
 }

 nav {
   padding: 20px 0;
 }

 nav ul {
   padding: 0;
   margin: 0;
 }
 nav li {
   display: inline;
   list-style: none;
   line-height: 42px;
   margin-left: 15px;
 }

 nav a {
   text-decoration: none;
   transition: all 150ms ease-in-out;
 }

 nav li.active a {
   color: var(--primary-color);
 }

 .menu-header{
   background-color: white;
   position: sticky;
   top: 0;
  
 }

 .hero {
   background-color: var(--secondary-color);
   text-align: center;
   padding: 60px 20px;
 }
 
 .hero p {
   font-size: 36px;
   font-weight: bold;
   margin: 0;
 }

 .hero h2 {
   font-family: var(--heading-font-family);
   font-weight: normal;
   font-size: 24px;
   line-height: 1.5;
   color: #272142;
 }

 .btn-branding {
   border-radius: 4px;
   background: var(--primary-color);
   color: white;
   font-size: 18px;
   line-height: 27px;
   padding: 15px 30px;
   transition: all 150ms ease-in-out;
 }
 .btn-branding-outline {
   border-radius: 4px;
   color: var(--primary-color);
   border: 1px solid var(--primary-color);
   font-size: 18px;
   line-height: 27px;
   padding: 15px 30px;
 }

 .nest-info {
   padding: 120px 60px;
 }

  .container-section {
    padding: 60px 60px;
  }

  .container h1 {
   font-size: 64px;
   line-height: 80px;
 }

 .container h2 {
   font-size: 18px;
   font-family: var(--default-font-family);
 }

 .container h3 {
   font-size: 24px;
   font-family: var(--default-font-family);
 }

 .my-photo {
   border-radius: 4px;
 }

 .content {
   margin: 30px;
 }
 
 .content p {
   font-size: 14px;
 }

 .icon {
   color: var(--primary-color);
 }

 footer .contact-box {
    background-color: var(--secondary-color);
    padding: 30px 120px;
    
    border-radius: 4px;
 }

 footer .contact-box p {
   margin: 0;
 }

 footer .email-link {
   display: block;
   text-decoration: none;
   color: black;
   font-size: 24px;
   text-align: center;
   transition: all 100ms ease-in-out;
   
 }
 footer .email-link:hover {
   color: var(--primary-color);
 }
footer .social-links a{
   margin: 20px;
   padding: 10px 14px;
   border-radius: 50%;
   font-size: 30px;
}



 @media (max-width: 900px) {
   h1 {
     font-size: 30px;
     line-height: 2;
   }

   h2 {
     font-size: 44px;
   }

   .hero {
     padding: 80px 20px;
   }

   .nest-info {
    padding: 0;
    text-align: center;
   }

    .container-section {
     padding: 0;
     text-align: center;
   }

   .content h1 {
     font-size: 30px;
   }

   nav {
   padding: 10px 0;
 }

    nav li {
   display: inline;
   list-style: none;
   line-height: 20px;
   margin-left: 5px;
 }

 }